body {
    font-family: Arial, sans-serif;
    background-color: #26232C;
    color: #c7c7c7;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.nav-link {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
}

.map-container {
    width: 100%;
    height: 100%;       
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-shadow: 0px 0px 0px 2px #000;
}

.map{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    scale: 200%;
    bottom: 0;
    align-items: center;
    justify-content: center;
    align-items: center;
}

#details-pays {
    background-color: #26232C;
    padding: 5px 5px 5px 15px;
    border-radius: 5px;
    color: #c7c7c7;
}

#sentiment-bar {
    padding: 0;
    margin: 0;
}

.sidebar {
    background-color: #26232C;
    padding: 0px 15px 0px 15px;
    width: 25%;
    height: 75vh;
    box-shadow: 0px 0px 15px 2px #000;
    overflow-y: auto;
}

.sidebar h3 {
    color: #c7c7c7;
}

.sidebar p {
    color: #c7c7c7;
}

.dash-graph {
    flex-grow: 1;
    margin: 0;
}

.bottom_darkening{
    position: absolute;
    bottom:0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    height: 5vh;
    width: 100vw;
}

.left_darkening{
    position: absolute;
    left:0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    height: 95vh;
    width: 5vw;
}

.right_darkening{
    position:  absolute;
    left: 95vw;
    bottom:0;
    background: linear-gradient(-90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    height: 95vh;
    width: 5vw;
}

rect {
    fill: rgba(255, 255, 255, 0) !important/* Make fill transparent */
}