body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #c7c7c7;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #2e2e2e;
    box-shadow: 0px 0px 15px 2px #000;
}

.map{
    display: flex;
    flex:  1;
    padding: 10px;
    background-color: #2e2e2e;
}

#details-pays {
    background-color: #333;
    padding: 5px 5px 5px 15px;
    border-radius: 5px;
    color: #c7c7c7;
}

#sentiment-bar {
    padding: 0;
    margin: 0;
}

.sidebar {
    background-color: #2e2e2e;
    padding: 0px 15px 0px 15px;
    width: 25%;
    height: 75vh;
    box-shadow: 0px 0px 15px 2px #000;
    overflow-y: auto;
}

.sidebar h3 {
    color: #c7c7c7;
}

.sidebar p {
    color: #c7c7c7;
}

.dash-graph {
    flex-grow: 1;
    margin: 0;
}

